@model List<AllArtistsDTO>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-2">
            <a asp-action="Create" class="btn btn-success">Create</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>StageName</th>
                        <th colspan="2">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(AllArtistsDTO dto in Model)
                    {
                        <tr>
                            <td>@dto.StageName</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@dto.Id"class="btn btn-warning btn-sm text-white">Update</a>
                                <a asp-action="Delete" asp-route-id="@dto.Id"class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>