@model CreateArtistDTO

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="StageName"></label>
                    <input asp-for="StageName" class="form-control"/>
                    <span asp-validation-for="StageName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RealName"></label>
                    <input asp-for="RealName" class="form-control"/>
                    <span asp-validation-for="StageName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
</div>